.container {
  margin: 0px auto;
  background: black;
  color: white;
  padding: 10px 10px;
  width: 70%;
  min-height: 255px;
}

.heading {
  margin: 0px auto;
  width: 150px;
}

.upperHeader {
  display: flex;
  justify-content: space-between;
}

.rangeInput {
  margin-top: 15px;
}

.checkBoxComponent {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.strength-container {
  margin-top: 15px;
}

.slider-width {
  width: 100%;
}

.strength-container {
  display: flex;
  justify-content: space-between;
}

.error-container {
  margin-top: 15px;
  color: red;
}

.copy-btn {
  font-size: 13px;
  height: 30px;
  width: 10%;
  background: #31dbd1;
  color: white;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
}

.submit-btn {
  margin: 15px auto 0px auto;
  width: 80%;
  height: 50px;
  background: #31dbd1;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12.5px;
  border-radius: 5px;
  cursor: pointer;
}
